<%- include('partials/header'); -%>

<style type="text/css">

@media only screen and (min-width:400px){
.me{
width:40%;
}
}

@media only screen and (min-width:400px){
..me{
width:40%;
}
}

@media only screen and (min-width:600px){
.me{
width:40%;
}
}
@media only screen and (min-width:500px){
.me{
width:35%;
}
}
@media only screen and (min-width:700px){
.me{
width:30%;
}
}
@media only screen and (min-width:800px){
.me{
width:16%;
}
}
</style>
<body><br>

    <!--------------Header Ends----------------------->

  <!------Horizontal Card----------------->
  <main class="container">
  	<div class="shadow lg-3 mb-5 bg-white rounded">
		<div class="card" style="padding:20px">
  			<h5 class="card-header">Urgent</h5>
  			<div class="card-body">
  			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw5MKxuKS3lUNnnzMWw1oBakhAVq-KLHbkEOH5zp15Mc75kYo&s"  align="right" class="me">
    		<h5 class="card-title">Name: </h5>
    		<p class="card-text">Blood Group:<br>Phone Number:<br>Area:  Kanta devi mandir ke left side ka chauraha mai joh rashmi aunty rehti ahai uske bagal wale cahndu cahacha ke mangetar ke ghar ke chhat mai betha hu</p>
    		<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
  </div>
</div>
</main>
<!---------------Horizontal Card Ends------------->

<main class="container">
  <div class="shadow lg-3 mb-5 bg-white rounded">
<div class="card" style="padding:20px">
  <h5 class="card-header">Urgent</h5>
  <div class="card-body">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStaXJcLzTfdNZ5IVckGXFLnstg9owU70NNW0E6L7VXT2eoEJGQ&s"  align="right" class="me">
    <h5 class="card-title">Name: </h5>
    <p class="card-text">Blood Group:<br>Phone Number:<br>Area:</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
  </div>
</div>

</main>


<%- include('partials/footer'); -%>